extends ../layouts/app

block content
  .container
    .card
      .card-body
        .d-flex.align-items-center
          h5.card-title.mb-0 Questions/Answers
          .ml-auto
            a.btn.btn-primary(href="/tickets/create" tabindex='1') Create
      table.table
        thead
          tr
            th Question
            th Answer
            th(style="width: 150px;") Action
        tbody
          each item in items
            tr
              td
                div= item.question
                each itag in item.tags
                  span.badge.badge-primary= tags.find(t => t.id === itag).name
                  | &nbsp;
              td= item.answer
              td.d-flex
                a.btn.btn-primary.btn-sm(href='/tickets/update/' + item.id) Edit
                form(method='post' action='/tickets/' + item.id onsubmit="return confirm('Are you sure?')")
                  input(type='hidden' name='_method' value='DELETE')
                  | &nbsp;
                  button.btn.btn-danger.btn-sm(type='submit') Delete
