extends ../layouts/app

block content
  .container
    .card
      .card-body
        form(method='post' action='')

          include _form

          .form-group.mb-0
            button.btn.btn-success(type='submit') Create
