extends ../layouts/app

block content
  .container
    .card
      .card-body
        form(method='post' action='')
          input(type='hidden' name='_method' value='PATCH')

          include _form

          .form-group.mb-0
            button.btn.btn-primary(type='submit') Save changes
